<p id="notice"><%= notice %></p>

<h1>Bacteria</h1>

<table>
  <thead>
    <tr>
      <th>Marca</th>
      <th>Tipo</th>
      <th>Precio</th>
      <th>Presentacion</th>
      <th>Stock</th>
      <th>Liquido</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bacteria.each do |bacterium| %>
      <tr>
        <td><%= bacterium.marca %></td>
        <td><%= bacterium.tipo %></td>
        <td><%= bacterium.precio %></td>
        <td><%= bacterium.presentacion %></td>
        <td><%= bacterium.stock %></td>
        <td><%= bacterium.liquido %></td>
        <td><%= link_to 'Show', bacterium %></td>
        <td><%= link_to 'Edit', edit_bacterium_path(bacterium) %></td>
        <td><%= link_to 'Destroy', bacterium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bacterium', new_bacterium_path %>
