<p id="notice"><%= notice %></p>

<p>
  <strong>Marca:</strong>
  <%= @desinfectante.marca %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @desinfectante.tipo %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @desinfectante.precio %>
</p>

<p>
  <strong>Presentacion:</strong>
  <%= @desinfectante.presentacion %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @desinfectante.stock %>
</p>

<p>
  <strong>Liquido:</strong>
  <%= @desinfectante.liquido %>
</p>

<%= link_to 'Edit', edit_desinfectante_path(@desinfectante) %> |
<%= link_to 'Back', desinfectantes_path %>
